build/
*.o
*.obj
*.elf
*.hex
*.bin
*.map
*.lst
*.d

*.swp
*.swo
.cache/
__pycache__/
compile_commands.json

Thumbs.db
.DS_Store

**/.history/
**/*.kicad_prl
**/*.kicad_pro.lck
**/*.kicad_sch.lck
**/*.kicad_pcb.lck
**/*.bak
**/*~
